// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-title{
  font-family:monospace;
}

.user-shoes-list{
  margin: 10px 50px auto;
  padding: 10px 50px 20px;
  // font-family:monospace;
  // margin: 10px 50px auto;
  // display:flex;
  // flex-wrap:wrap;
}

